/* main.css */
/* @charset "UTF-8"; */
/* Підключити css/common.css за допомогою правила @import */

@import url("common.css");

/* Виправити помилку у фрагменті */
/* @import url("my-imported-styles.css"); */

* {
    margin: 0;
    padding: 0;
  }

/* more styles */

/* Встановити, за допомогою визначених у файлі css/common.css змінних, властивості елемента body:
a.color;
b.background; */
body {
    color: var(--primary-text-color);
    background: var(--primary-bg-color);
  }
