/* 3. Зробіть копію каталогу template */
.grid {
    --min: 30ch;
  
    display: grid;
    
    gap: 1rem;
}
  
body {
    --padding: 5vw;
    --max-width: 180ch;
}

/* 3.1 Налаштуйте grid-властивості так, щоб кожний елемент з класом card мав мінімальну ширину, що дорівнює 100% або var(--min), та максимальну ширину, що дорівнює мінімальній ширині або 1fr. Встановіть автоматичну підгонку стовпчиків */
.card {
    grid-template-columns: 100% minmax(var(--min), 1fr);
}