@charset "UTF-8";

/* - Припустімо, що розмір шрифту для body встановлено на 16 пікселів. 
- Слова «Outer» відображається з розміром 25,6 пікселів, а слово «inner» — 40,96 пікселів.
- Всередині файла css/main.css 
	- визначте властивсть font-size для div, вказавши значення в одиницях виміру em.
	- визначте властивсть font-size для span, вказавши значення в одиницях виміру em. */
body{
    font-size: 16px;
}
/* «Outer» : div = 1.6; 25.6px : 16px = 1.6; div = 16px = 1em */
div {
    font-size: 1em;
}
/* «inner» : «Outer» = 1.6; 40.96px : 25.6px = 1.6; span = 1.6em */
span {
    font-size: 1.6em;
}
/* Припустімо, що розмір шрифту для body встановлено на 16 пікселів.
Всередині файла css/main.css визначте властивсть font-size для strong так, щоб всі слова мали однаковий відносний розмір, еквівалентний 25,6 пікселів. */
/* body 16px = 1rem; strong = 25.6px : 16px = 1.6rem */
strong {
    font-size: 1.6rem;
}
/* стилізувати елементи списку за длпомогою стилю квадрат */
ul {
    list-style-type: square;
}
