/* app.css */

/*
1. - Встановити background для класу negative як лінійний градієнт, що направлений вліво та має такі точки зупинки: -50%, -10%, 0%, 100%, 150%. Для кожної точки зупинки встановити колір, що змінюється від світло-синього до темно-синього.
*/

.negative {
    background: linear-gradient(to left, rgb(173 216 230) -50%, rgb(130 162 207) -10%, rgb(87 108 185) 0%, rgb(43 54 162) 100%, rgb(0 0 139) 150% );
}

/*
1. - Встановити background для класу percents як лінійний градієнт, що направлений вниз та має такі точки зупинки: 2em, 4em, 8em, 16em, 32em, 64em, 128em. Для кожної точки зупинки встановити колір, що змінюється від світло-зеленого до темно-зеленого.
*/
.percents {
    background: linear-gradient(to bottom, rgb(144, 238, 144) 2em, rgb(120, 207, 125) 4em, rgb(96, 175,  107) 8em, rgb(73, 144,  88) 16em, rgb(49, 113,  69) 32em, rgb(25, 81, 51) 64em, rgb(1, 50, 32) 128em);
}

/*
1. - Встановити background для класу radial два радіальних градієнта з типом ellipse, перший з яких містить 2 кольори - помаранчевий та прозорий і направлений вверх, а другий містить 2 кольори - червоний та прозорий і направлений вниз. 
*/
.radial {
    background: radial-gradient(ellipse at top, #ffa500, transparent), radial-gradient(ellipse at bottom, red, transparent);
}